<mat-tab-group>
  <mat-tab label="Current Stock Data">
    <mat-card class="stock-card" *ngIf="stockPriceDetails">
      <mat-card-header>
        <mat-card-title>
          <span class="title-flex">
            <span>{{companyProfile.name}} ({{selectStockSymbol()}})</span>
            <img *ngIf="companyProfile" [src]="companyProfile.logo" width="32px" height="32px"
              alt="{{companyProfile.name}} Logo" class="company-logo title-logo-right" />
          </span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="price-box">
          <p>Current Price</p>
          <h1>{{stockPriceDetails.c}}</h1>
        </div>
        <div class="stats">
          <div class="stat-card">
            <span>High Price</span>
            <strong>{{stockPriceDetails.h}}</strong>
          </div>
          <div class="stat-card">
            <span>Low Price</span>
            <strong>{{stockPriceDetails.l}}</strong>
          </div>
          <div class="stat-card">
            <span>Open Price</span>
            <strong>{{stockPriceDetails.o}}</strong>
          </div>
        </div>
        <div class="price-box company-profile-box" *ngIf="companyProfile">
          <div class="company-details">
            <h2>About Company</h2>
            <p><strong>Industry:</strong> {{companyProfile.finnhubIndustry}}</p>
            <p><strong>Country:</strong> {{companyProfile.country}}</p>
            <p><strong>IPO Date:</strong> {{companyProfile.ipo}}</p>
            <p><strong>Market Capitalization:</strong> {{companyProfile.marketCapitalization | currency}}</p>
            <p><strong>Shares Outstanding:</strong> {{companyProfile.shareOutstanding | number}}</p>
            <p><strong>Company Webpage:</strong>
              <a [href]="companyProfile.weburl" target="_blank">{{companyProfile.weburl}}</a>
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>