<mat-tab-group>
    <mat-tab label="Current Stock Data">
       
<mat-card class="stock-card">
    <mat-card-header>
    <mat-card-title>Stock Details for AAPL</mat-card-title>
    <mat-card-subtitle>Current Stock Data</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="price-box">
      <p>Current Price</p>
      <h1>$271.06</h1>
    </div>

    <div class="stats">
      <div class="stat-card">
        <span>High Price</span>
        <strong>$273.06</strong>
      </div>

      <div class="stat-card">
        <span>Low Price</span>
        <strong>$269.65</strong>
      </div>

      <div class="stat-card">
        <span>Open Price</span>
        <strong>$272.755</strong>
      </div>
    </div>
  </mat-card-content>
</mat-card>
    </mat-tab>
    <mat-tab label="AboutCompany">

    </mat-tab>

    <mat-tab label="AI Recommendations">

    </mat-tab>

</mat-tab-group>