<div *ngIf="recentSearchStockInfo.length > 0">
    <mat-card>
        <mat-card-title>
            <div class="flex-row recent-search-header">
                <span class="flex-column flex-75">
                    Recent Searches
                </span>
                <span class="flex-column flex-5" style="text-align: right;">
                    <button mat-icon-button type="button" (click)="clearRecentSearches()"
                        aria-label="Clear recent searches">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <button mat-icon-button type="button" (click)="refreshRecentSearches()"
                        aria-label="Refresh recent searches">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </span>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div *ngIf="recentSearchStockInfo.length > 0">
                <div class="recent-search-info" *ngFor="let stock of recentSearchStockInfo">
                    <div class="stock-card">
                        <div class="left">
                            <div class="logo"><img src="{{stock.companyProfile.logo}}" width="32px" height="32px"
                                    alt="{{stock.companyProfile.name}}"></div>
                            <div>
                                <div class="symbol">{{stock.stockSymbol.symbol}}</div>
                                <div class="name">{{stock.companyProfile.name}}</div>
                            </div>
                        </div>

                        <div class="right">
                            <div class="price">${{stock.priceDetails.c}}</div>
                            <div class="change positive">{{((stock.priceDetails.c - stock.priceDetails.pc) /
                                stock.priceDetails.pc) * 100 | number:'1.2-2'}}%</div>
                            <div class="time"><strong>{{stock.priceDetails.lastUpdated | date:'short'}}</strong></div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>