<div class="center-container">
  <form [formGroup]="stockSearchForm">
    <strong class="title">Stock Search</strong>
    <mat-form-field appearance="outline"  class="search-field">
      <mat-label>Search Stocks</mat-label>
      <input matInput formControlName="searchSymbol" placeholder="Search stocks..." [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        @for (stock of filteredStocks; track stock) {
          <mat-option [value]="stock.symbol" (onSelectionChange)="selectStock(stock)">
            {{ stock.displaySymbol }} - {{ stock.description }}
          </mat-option>
        }
      </mat-autocomplete>

      <span class="divider"></span>
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>

<app-show-stock-details></app-show-stock-details>